<% provide(:title, 'About') %>

    <h1>About Us</h1>
    <p>
      Aplikacja zaliczeniowa z przedmiotu Zwinne Metodyki Programowania w roku akademickim 2013/2014 semestr letni.</br>
      Wykonana przez Marcin Buczkowski, Damian Bury, Sebastian Gajdzik, PaweĹ‚ Michalik

    </p>
  

