<% provide(:title, 'Help') %>

    <h1>Help</h1>
    <p>
      Podczas zakładania konta:</br>
      Jeżeli logujesz się jako lekarz w polu specialization wybierz identyfikator odpowiadający twojej specjalizacji</br>
      Jeżeli logujesz się jako pacjent ustaw 0.
    </p>
  </body>
</html>


